.app-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 36px;
    gap: 10px;
    background: #007298;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    width: 100%;

    &:hover {
        background: #016486;
    }

    &:focus {
        background: #014d68;
        box-shadow: 0 0 0 3px rgba(1, 100, 134, 0.5); 
    }

    &:active {
        background: #003c53;
        transform: scale(0.95);
    }

    &:disabled,
    &[disabled] {
        background: #c0c0c0;
        cursor: not-allowed;
    }

    &__single-icon {
        padding: 13px;
    }

    &.icon-btn {
        background: none;
        border: none;
        color: #333E48;
        width: 20px;
        height: 20px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &:focus {
            box-shadow: none;
        }
    
    }
}