<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form class="registration-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Input text" formControlName="name" required />
        <span *ngIf="name?.invalid && (name?.touched || name?.dirty || submitted)" id="nameErrorMessage" class="text-danger">
          <ng-container *ngIf="name?.errors?.['required']">Name is required.</ng-container>
          <ng-container *ngIf="name?.errors?.['minlength']">Name must be at least 6 characters long.</ng-container>
        </span>
      </div>
      <div class="form__control">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Input text" formControlName="email" required />
        <span *ngIf="email?.invalid && (email?.touched || email?.dirty || submitted)" class="text-danger">
          <ng-container *ngIf="email?.errors?.['required']" id="emailErrorMessage">
            Email is required.
          </ng-container>
          <ng-container *ngIf="email?.errors?.['invalidEmail']" id="emailErrorMessage">Invalid email format.</ng-container>
        </span>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Input text" formControlName="password" required />
        <span *ngIf="password?.invalid && (password?.touched || password?.dirty || submitted)" id="passwordErrorMessage" class="text-danger">
          <ng-container *ngIf="password?.errors?.['required']">Password is required.</ng-container>
        </span>
      </div>
    </div>
    <div class="form__action">
      <app-button buttonText="login" type="submit"></app-button>
    </div>
    <div class="form__text">
      If you have an account, you may <strong>Login</strong>
    </div>
  </form>
</div>
