@import 'src/app/shared/styles/styles';

.course {
 min-width: 60vw;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    & label {
      width: 100%;
    }

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-left: 20px;
    &-item {
      margin-right: 10px;
    }
  }

  &__authors-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
}

.duration-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
}

.authors-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    display: flex;
  }

  &__move {
    background: none;
    border: none;;
    cursor: pointer;
    outline: none;
    padding: 5px;
    margin: 0;

    &:focus {
      outline: none;
    }
  }
}

.text-danger {
  width: 100%;
}